* {
    margin: 0;
    padding: 0;
}

body{
    background: #f0f2f5;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#text{
    width: 1200px;
    position: relative;
}

img{
    margin-top: 200px;
    margin-left: 175px;
    color: rgb(65, 106, 218);
    font-size: 50px;
    

}

h2{
    margin-left: 210px;
    margin-top: -15px;
    color: #1c1e21;
    font-size: 30px;
    width: 1000px;
    float: left;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight: 200;
}

#bloco{
    position: relative;
    float: right;
    background-color: white;
    margin-top: -260px;
    margin-right: 220px;
    text-align: center;
    width: 420px;
    height: 365px;
    border-radius: 8px;
    display: block;
    padding: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%)
}

input{
    position: relative;
    color: #1d2129;
    font-weight: 500;
    width: 370px;
    height: 30px;
    margin-top: 15px;
    border: solid 0.5px rgba(77, 77, 77, 0.219);
    font-size: 17px;
    border-radius: 6px;
    padding: 14px 16px;
}

.entrar{
    position: relative;
    width: 405px;
    height: 53px;
    font-size: 20px;
    border-radius: 5px;
    border: solid 0.5px rgb(0, 0,0, 0.30);
    background-color:#1877f2;
    color: white;
    margin-top: 12px;
    border: none;
    margin-top: 20px;
}

.entrar:hover{
    background-color: #105abb;
}

.senha{
    color: #1877f2;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 15px;
}

.senha:hover {
    text-decoration: underline;
}

hr{
    width: 420px;
    size: 0.5px;
    opacity: 0.2;
}

.criar{
    background-color:#42b72a;
    color: white;
    width: 190px;
    height: 55px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-top: 17px;
}

.criar:hover{
    background-color: #3aa524;
}

.criarPag{

    font-size: 15px;
    margin-top: 65px;
}

.criarPag a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.criarPag a:hover{
    text-decoration: underline;
}